body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000; /* Night background */
}
#city {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
#city img {
    width: 100%;
    height: auto;
}
#car {
    position: absolute;
    bottom: 10%;
    left: -20%;
}
#car img {
    width: 300px; /* Adjust size as needed */
    height: auto;
}
